#food-preview {
  z-index: 1000;
  margin: -10px;
  width: 100%;
  height: 50vh;
  background: #5f0417;
  h1 {
    font-size: 3rem;
    font-weight: 600;   
    margin: 1em;
    text-align: center;
    color: #fff;
  }
}