
// @keyframes warningSlide {
// 	0% {
// 		transform: translateX(25em);
// 	}
// 	100% {
// 		transform: translateX(-25em);
// 	}
// }

@keyframes warningSlide {
	0% {
	transform: translate3d(0, 0, 0);
}

100% {
	transform: translate3d(calc(1.5em * 6), 0, 0);
}

}





#food-preview {
  padding: 3em 0;
  border-top: 2px solid black;
  position: relative;
  width: 100%;
  background: rgb(185, 0, 39);
  background: -moz-radial-gradient(
    circle,
    rgba(185, 0, 39, 1) 0%,
    rgba(84, 0, 18, 1) 75%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(185, 0, 39, 1) 0%,
    rgba(84, 0, 18, 1) 75%
  );
  background: radial-gradient(
    circle,
    rgba(185, 0, 39, 1) 0%,
    rgba(84, 0, 18, 1) 75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b90027",endColorstr="#540012",GradientType=1);
  .title {
    width: 100%;
    text-align: center;
    margin-bottom: 4em; ;
    h1 {
      margin-bottom: .6em;
      font-size: 5rem;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .CTA-menu {
      color: #fff;
      background: #ee9b08;
      padding: .5em 3em;
      border-radius: 10px;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #ee9b08;
      transition: background .2s ease-in-out;
      letter-spacing: 1px;
      &:hover, &:focus {
        background: transparent;
        border: 1px solid #ee9b08;
      }
    }
  }
  .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
      div {
        transform-style: preserve-3d;
        transform: perspective(1000px);
        transform: translateZ(20px);
      
      a {
        text-decoration: none;
        cursor: pointer;
        .card {
          background: #fff;
          position: relative;
          margin: 0.2em;
          width: 8em;
          height: 14em;
          list-style: none;
          color: #000;
          font-size: 2rem;
          border-radius: 5px;
          // overflow: hidden;
          // transition: background 0.3s ease-in-out;
          &:hover, &:focus {
            .background {
              color: #fff;
              background: hsl(38, 93%, 48%);
              transform: translate3d(-50px, -340px, 0) rotate(10deg);
            }
          }
          .background {
            background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 150%;
            width: 150%;
            z-index: 1;
            transition: all .3s ease-in-out;
          }
          .content {
            position: absolute;
            width: 8em;
            height: 14em;
            list-style: none;
            color: #000;
            font-size: 2rem;
            border-radius: 5px;
            // overflow: hidden; 
            // transition: background .3s ease-in-out;
            z-index: 2;
            .card__title {
              text-align: center;
              padding: 0.5em;
              color: #5f0417;
              font-size: 2rem;
              font-weight: 600;

            }
            .warning {
              font-size: 0.7rem;
              width: 8em;
              height: 2em;
              background: rgb(128, 9, 34);
              background: linear-gradient(
                140deg,
                rgba(95, 4, 23, 1) 50%,
                rgba(128, 9, 34, 1) 0%
              );
              color: white;
              position: absolute;
              padding: 0.2em 1em;
              border-radius: 5px;
              display: flex;
              align-items: center;
              text-align: center;
              right: 2em;
              top: 4.5em;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              // transition: all .3s ease-in-out;
              // overflow: hidden;
              span {
                position: absolute;
                i {
                  padding-left: 0.3em;
                  font-size: 0.8rem;
                }
              }
            }
            .card__info {
              margin: 2em 0;
              padding: 0 1em;
              font-size: .95rem;
              line-height: 1.5rem;
              letter-spacing: .4px;
              span {
                font-weight: 500;
                border-radius: 5px;
                padding: .1em .5em;
                color: #fff;
                background:hsl(38, 93%, 48%);
              }
            }
            .img-container {
              height: 10rem;
              .card__img {
                transform: translateZ(20px);
                position: relative;
                width: 8em;
                top: 0em;
                filter: drop-shadow(0px 4px 5px hsla(0, 0%, 0%, 0.4));
                transition: top 0.5s ease-in-out;
                &.pizza {
                  top: 0.6em;
                }
              }
            }
            &:hover, &:focus {
              color: #fff;
              .card__title {
                color: #fff;
                text-shadow: 0 1px 2px red;
              }
              .warning {
                background: red;
                width: calc((8em) * 6);
                right: 2em;
                // left: 0em;
                display: flex;
                justify-content: space-evenly;
                border-radius: 0px;
                letter-spacing: 2px;
                transition: all 0.3s ease-in-out;
                span {
                  width: 6.5em;
                  border: 2px solid blue;
                  // display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 2em;
                  position: relative;
                  animation: warningSlide 12s linear infinite;
                  // transform: translateX(200em);
                  transform: translateX(0em);
                }
              }
              .card__info {
                span {
                  background: red;
                }
              }
              .img-container {
                .pizza {
                  top: .4em;
                }
              }
            }
            &:hover .card__img, &:focus .card__img {
              top: -.2em;
            }
          }
        }
      }
    }
  }
}