#food-preview {
  padding: 2em 0;
  border-top: 2px solid black;
  position: relative;
  width: 100%;
  background: rgb(185, 0, 39);
  background: -moz-radial-gradient(
    circle,
    rgba(185, 0, 39, 1) 0%,
    rgba(84, 0, 18, 1) 75%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(185, 0, 39, 1) 0%,
    rgba(84, 0, 18, 1) 75%
  );
  background: radial-gradient(
    circle,
    rgba(185, 0, 39, 1) 0%,
    rgba(84, 0, 18, 1) 75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b90027",endColorstr="#540012",GradientType=1);
  .title {
    width: 100%;
    text-align: center;
    h1 {
      font-size: 5rem;
      font-weight: 600;
      padding: 0.5em 0;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a {
      color: #fff;
      background: #ee9b08;
      padding: .5em 1em;
      border-radius: 10px;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: background .3s ease-in-out;
      border: 1px solid #ee9b08;
      &:hover, &:focus {
        background: transparent;
        border: 1px solid #ee9b08;
      }
    }
  }
  .cards {
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      display: inherit;
      flex-wrap: wrap;
      justify-content: center;
      a {
        text-decoration: none;
        cursor: pointer;
        .card {
          background: #fff;
          position: relative;
          margin: 0.2em;
          width: 8em;
          height: 14em;
          list-style: none;
          color: #000;
          font-size: 2rem;
          border-radius: 5px;
          overflow: hidden;
          // transition: background 0.3s ease-in-out;
          &:hover, &:focus {
            .background {
              background: hsl(38, 93%, 48%);
              transform: translate3d(-50px, -340px, 0) rotate(10deg);
              // transform: translate3d(0, -340px, 0) rotate(40deg);
              color: #fff;
            }
          }
          .background {
            background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 150%;
            width: 150%;
            z-index: 1;
            transition: all .3s ease-in-out;
          }
          .content {
            position: absolute;
            width: 8em;
            height: 14em;
            list-style: none;
            color: #000;
            font-size: 2rem;
            border-radius: 5px;
            overflow: hidden;
            transition: background .3s ease-in-out;
            z-index: 2;
            .card__title {
              text-align: center;
              padding: 0.5em;
              color: #5f0417;
              font-size: 2rem;
              font-weight: 600;
            }
            .warning {
              font-size: .7rem;
              background: rgb(128, 9, 34);
              background: linear-gradient(
                140deg,
                rgba(95, 4, 23, 1) 50%,
                rgba(128, 9, 34, 1) 0%
              );
              color: white;
              position: absolute;
              padding: .5em 1em;
              border-radius: 5px;
              display: flex;
              align-items: center;
              text-align: center;
              right: 2em;
              top: 4em;
              text-transform: uppercase;
              letter-spacing: .5px;
              i {
                padding-left: .3em;
                font-size: .8rem;
              }
            }
            .card__info {
              margin: 2em 0;
              padding: 0 1em;
              font-size: .95rem;
              line-height: 1.5rem;
              letter-spacing: .4px;
              span {
                font-weight: 500;
                border-radius: 5px;
                padding: .1em .5em;
                color: #fff;
                background:hsl(38, 93%, 48%);
              }
            }
            .img-container {
              height: 10rem;
              .card__img {
                position: relative;
                width: 8em;
                top: 0em;
                filter: drop-shadow(0px 4px 5px hsla(0, 0%, 0%, 0.4));
                transition: top 0.5s ease-in-out;
                &.pizza {
                  top: 0.6em;
                }
              }
            }
            &:hover, &:focus {
              color: #fff;
              .card__title {
                color: #fff;
                text-shadow: 0 2px 2px red;
              }
              .warning {
                background: red;
              }
              .card__info {
                span {
                  background: red;
                }
              }
              .img-container {
                .pizza {
                  top: .4em;
                }
              }
            }
            &:hover .card__img, &:focus .card__img {
              top: -.2em;
            }
          }
        }
      }
    }
  }
}