#information {
  background: #fff;
  display: flex;
  .restaurant-img {
    width: 32%;
    img {
      width: 100%;
      object-fit: contain;
      border-right: 2px solid black;
    }
  }
  .restaurant-info {
    display: relative;
    width: 68%;
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(50%);
      margin-top: 1em;
      font-size: 4rem;
      text-align: center;
    }
    .info-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        padding: 2em;
        font-size: 1.1rem;
      }
    }
  }
}