@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "home";



body {
  background: blueviolet;
  font-family: Roboto;
}

section#welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .welcome-menu {
    // padding: 0.5em;
    border-right: 2px solid black;
    width: 15em;
    background: #eee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .logo {
      margin: 1em;
    }
    .menu {
      .menu-title {
        color: blue;
      }
      ul {
        li {
          border-bottom: 2px solid #9b9b9b;
          padding: 1em 1em;
          a {
            text-decoration: none;
            font-size: 2.5rem; 
            color: #333333;
            width: 100%;
          }
          &:nth-child(1) {
            border-top: 2px solid #9b9b9b;
          }
        }
        
      }
      .social-icons {
        padding-top: 2em;
        width: calc(100% - 15em);
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        a {
          text-decoration: none;
          margin-right:.5em;
          img {
            opacity: 0.8;
            width: 2em;
          }
        }
      }

    }
    .location {
      padding: 1em;
      font-size: 1.3rem;
      .address {
        line-height: 1.2;
      }
      .phone-number {
        font-size: 1.5rem;
        margin-top: .5em;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .welcome-jumbo {
    width: 80%;
    background: blueviolet;
    height: 100vh;
  }
}







