@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "home";



body {
  background: blueviolet;
}

#welcome {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}